<!-- src/client/views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Head content here -->
</head>
<body>
  <h1>Video Game Inventory</h1>

  <ul>
    <% games.forEach(game => { %>
      <li><%= game.title %> - <%= game.platform %></li>
    <% }); %>
  </ul>
</body>
</html>
